
/** Premium Dark **/
background-image: linear-gradient(to right, #434343 0%, black 100%);


/** Dark Greys **/
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

/** Light Greys **/
background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
 background-blend-mode: screen;
 
 