/********** Copyright © 2024 ************/
/********** William Cole Hanson *********/
/***** FREE for Personal or Business use ******/
/**********************************************************/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root {
  --primary-color: #697290;
  /* Semi-Dark Grey */
  --active-button-text: #7c72df;
  /* Light Blue-Violet */
  --active-button-text-other: #af7dfd;
  /* Light Violet */
  --active-button-text-pink: #e780f0;
  /* Light Pink */
  --text-color: #333;
  /* Dark Dark Grey */
  --secondary-color: #a0a0a0;
  /* Dark Grey */
  --color-text-primary: rgb(105, 105, 105);
  /* Darker Grey */
  --color-text-secondary: rgb(0, 0, 0);
  /* Black */
  --color-background-primary: rgb(242, 247, 249);
  /* Pearl White */
  --color-background-secondary: rgb(255, 255, 255);
  /* White */
  --color-border: #d2d2d2;
  /* Light Grey */
  --color-accent: rgb(147, 51, 234);
  /* Violet */
  --shadow-alpha: 0.025;
  --spinner: var(--color-accent);
  --button-fill-play: #a6acbe;
  --button-textoutline: #40425a;
  /* Dark Grey Blue Hue */
  --current-song: #cad2ec;
  /* Light Grey Blue Hue */
}


/**
*
*     — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
*      Universal Styles • Universal Styles • Universal Styles • Universal 
*     — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
**/


        @keyframes float {
            0% {
                opacity: 1;
                transform: translateY(0);
            }
            100% {
                opacity: 0;
                transform: translateY(-100px);
            }
        }
/**
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fff;
            margin: 0;
        }
**/
        .logo-container {
            position: relative;
            overflow: visible;
            width: 175px;
            height: 40px;
        }

        .logo {
            font-size: 30px;
            font-weight: bold;
            background: linear-gradient(to right, #0000ff, #00ffff);
            -webkit-background-clip: text;
            color: transparent;
            position: relative;
            z-index: 1;
        }

        .music-note {
            position: absolute;
            font-size: 32px;
            animation: float 5s infinite;
            color: #146ef5;
        }

        @keyframes float {
            0% {
                opacity: 1;
                transform: translateY(0);
            }
            100% {
                opacity: 0;
                transform: translateY(-100px);
            }
        }

        .music-note:nth-child(1) {
            left: 10%;
            animation-duration: 3s;
        }

        .music-note:nth-child(2) {
            left: 30%;
            animation-duration: 4s;
        }

        .music-note:nth-child(3) {
            left: 50%;
            animation-duration: 2.5s;
        }

        .music-note:nth-child(4) {
            left: 70%;
            animation-duration: 3.5s;
        }

        .music-note:nth-child(5) {
            left: 90%;
            animation-duration: 3s;
        }




.song.active {
  background-color: #f0f0f0ca;
}


.song.active {
/**    display: inline-block; /* Ensures the element can be animated properly */
    animation: subtleBounce 4s infinite cubic-bezier(.25,.46,.45,.94);
}

/* Keyframes for subtle bounce animation */
@keyframes subtleBounce {
    0%, 100% {
        transform: translateY(0); /* Starting and ending at the original position */
    }
    25% {
        transform: translateY(-3px); /* Small upward movement */
    }
    50% {
        transform: translateY(-1px); /* Slight downward movement */
    }
    75% {
        transform: translateY(-4px); /* Slightly larger upward movement */
    }
}

/* Randomness in animation timing to vary bounce between elements */
.song.active:nth-child(2n) {
    animation-delay: -0.2s; /* Delays the start of the animation */
}

.song.active:nth-child(3n) {
    animation-duration: 4.2s; /* Slightly changes the duration */
}

.song.active:nth-child(4n) {
    animation-duration: 3.8s; /* Slightly changes the duration */
    animation-delay: -0.3s; /* Delays the start of the animation */
}




.albumButtons {
  scrollbar-width: none;
}

.albumButtons::-webkit-scrollbar {
  display: none;
}

.player {
  position: relative;
}

.mainalbumcover {
  justify-content: center;
  /* Centers the child div horizontally */
  align-items: center;
  /* Centers the child div vertically */
  /*  height: 100%;  Full viewport height to center vertically */
  width: 100vw;
  margin: auto;
  border: 2px SOLID var(--theme--t_text-primary);
}

.albumButtons {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  /* Adjust the gap between buttons as needed */
  padding: 10px;
  /* Optional: Padding for the container itself */
}

.albumButtons .button {
  padding: 8px 5px;
  /* Adjust the padding inside the button as needed */
  white-space: nowrap;
  /* Prevent text from wrapping */
  flex-shrink: 0;
  /* Prevent the button from shrinking */
  font-size: 1.075rem;
  line-height: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.75;
  text-align: center;
  /**font-family: "Montserrat", sans-serif;**/
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  gap: 1.35rem;
  color: #c4d2dc;
  background-color: #19242b;
  width: 175px;
  
  text-overflow: ellipsis;
  overflow: hidden;
  
  
  /*** ADDED ***/
  
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.albumButtons .button.active {
  border: 2px solid var(--active-button-text);
  color: var(--active-button-text);
}

.albumButtons .button:hover {
  border: 2px solid var(--active-button-text);
  color: var(--active-button-text);
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.player .icon-skip-back {
  display: inline-block;
}

.player .icon-skip-forward {
  display: inline-block;
}

/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *             Audio Player Controls
 *     — — — — — — — — — — — — — — — — — — —
 **/
.dashboard {
  margin-left: 0.5rem;
  position: static;
/**  padding: 10px; **/
 /** margin-top: 15px; **/
  width: 100vw;
  align-self: center;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.player .icon-skip-back {
  display: inline-block;
}

.player .icon-skip-forward {
  display: inline-block;
}

.control {
  /** Play, Pause, Skip, ETC. **/
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  /** The actual Buttons **/
  font-size: 1.5rem;
  border-radius: 99em;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  transition: color 0.75s ease, width 0.75s ease-out;
  position: relative;
  background-color: var(--color-background-secondary);
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, var(--shadow-alpha));
  outline: 2px solid var(--color-border);
  outline-offset: 3px;
  color: var(--text-color);
}

.control .btn.active {
  color: var(--text-color);
  background-color: var(--active-button-text);
}

.control .btn-toggle-play {
  /** Play Pause Toggle **/
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 34px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--active-button-text);
}


audio {
	width: 100vw;
}


/** Time Remaining **/
/** UnComment & add to HTML for traditional Slider Appearance
.progressContainer {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background-color: #818181;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 8px;
  z-index: 500;
}
**/



  /** Time Elapsed **/
.progress {
  position: relative;
/**
  margin-left: 1rem;
  margin-right: 1rem;
**/
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  background-color: #5b5b5b;
  outline: none;
  opacity: 0.3;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 8px;
  z-index: 500;
}

.progress:hover {
	opacity: 1;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: var(--active-button-text);
  cursor: pointer;
  border-radius: 50%;
  outline: 2px solid var(--active-button-text);
  z-index: 499;
}

/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *          "Now Playing:" SongNameHere
 *     — — — — — — — — — — — — — — — — — — —
 **/
.musicheader {
  text-align: center;
  margin-bottom: 10px;
}

.musicheader h4 {
  color: var(--primary-color);
  font-size: 12px;
}

.musicheader h2 {
  font-size: 20px;
}

/**
 *
 *     — — — — — — — — — — — — — — — — — — — — —
 *      OPTIONAL — Spinning CD during playback
 *     — — — — — — — — — — — — — — — — — — — — —
 **/
.cd {
  display: none;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  /** Small album covers in the song list **/
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *             Song List   Song Items
 *     — — — — — — — — — — — — — — — — — — —
   margin-left: 3rem;
  margin-top: 0.5rem;
  max-width: 80%;
  moz-max-width: 80%;
  width: 80%;
  moz-width: 80%;
  webkit-max-width: 80%;
  webkit-width: 80%;
**/





.song {
  display: flex;
width: 100vw;
margin: 0rem 1rem 0.5rem 1rem;
justify-content: space-between;
padding-botton: 1rem;
}

.song.active {
  background-color: #f0f0f0;
  filter: drop-shadow(0px 0px 10px var(--active-button-text));
  border: 2px solid var(--active-button-text);
  color: var(--active-button-text);
}

.song:active {
  opacity: 0.8;
}

.song.active .optio0n {
  opacity: 1;
  filter: drop-shadow(0px 0px 10px var(--button-textoutline));
  align-content: center;
  align-items: center;
  justify-content: center;
}

.song.active .opti0n a {
  text-decoration: none;
}

.song.active .option div,
.song .option div {
  display: inline-block;
}

.song.active .opti0n,
.song.active .author,
.song.active .title {
  color: var(--active-button-text);
}
.song .option #downloadSong,
.song .option #appendSongToQueue {
    opacity: 1; /* Set initial state to hidden */
    transition: opacity 0.3s ease; /* Add transition for smooth effect */
}


.song .songMenu {
/**	position: absolute;
	right: 0;
	margin-right: 0rem;**/
	opacity: 1;
	transition: opacity 1s ease;
}
.song .songMenu:hover {
	opacity: 1.0;
	transition: 1.5s ease;
}

/**

.song:hover .option #downloadSong,
.song:hover .option #appendSongToQueue {
    opacity: 1 !important;
    border-radius: 50%;
    border: 1.5px solid #4F4F4F;
    background-color: #3f51b5; 
    color: whitesmoke;
    font-size: 1.25rem;
}

.song:hover .option #appendSongToQueue {
    background-color: #009688; 
}
**/
.song .me {
  margin: 0 8px;
  color: #050505;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.song .thumb {
  margin: 0 8px;
  color: #050505;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.song .body {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 2px;

  border: 1px solid DARKGREY;
  background-color: #fff;
  border-radius: 7px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
  padding-top: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.song .author {
  font-size: 12px;
  color: #999;
}
/**
.option {
  opacity: 0;
  padding: 2px;
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 3rem;
  margin-right: 1rem;
  color: var(--active-button-text);
  font-family: WF Sans-Serif;

}**/

/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *               Artists Portraits
 *     — — — — — — — — — — — — — — — — — — —
 **/
.mainalbumcover {
  overflow: hidden;
  align-self: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px SOLID var(--theme--t_text-primary);
  position: relative;
}

.mainalbumcover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0px 10px 43px 25px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1;
}

.mainalbumcover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 0;

}

.mainalbumcover-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *               Similar Artists
 *     — — — — — — — — — — — — — — — — — — —
 **/
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 10px;
  max-width: 100vw;
}

.gallery.blur {
  filter: blur(50px);
  transition: filter 0.6s ease;
}

.photo {
  text-align: center;
  overflow: hidden;
  transition: transform 0.6s ease;
  flex: 1 1 calc(33.333% - 10px);
  box-sizing: border-box;
}

.smallPortrait {
	 width: 100px !important;
  height: 100px !important;
  
}


.photo img {
  border-radius: 50%;
  border: 2px SOLID var(--theme--t_text-primary);
  object-fit: cover;
}

.photo img:hover {
  border: 2px solid var(--active-button-text);
}

.photo p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: serif;
  color: #eeeeee;
}

.info1 {
  background-color: transparent;
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
  justify-content: center;
  width: 95%;
  height: 3.2rem;
  margin-left: 1rem;
}

.photo h4:hover {
  color: var(--active-button-text);
}

.spacer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*.songsArea {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  width: 95%;
  align-items: center;
  margin-left: 1rem;
}*/

/**
*
*     — — — — — — — — — — — — — — — — — — —
*              Favourites Feature
*     — — — — — — — — — — — — — — — — — — —
**/
.heart {
  opacity: .2;
  cursor: pointer;
  font-style: bolder;
  font-size: 25px;
  font-weight: 300;
  color: grey;
  fill: grey;
  transition: opacity 0.45s ease-in;
}

.heart:hover {
  opacity: 1;
transition: opacity 0.35s ease-in;
}

.hearted {
  opacity: 1;
  font-style: bolder;
  font-size: 25px;
  font-weight: 800;
  fill: red;
  color: crimson;
transition: opacity 0.85s ease-in, opacity 0.85s ease-out;
}

.downloadme {
  cursor: pointer;
  font-style: bolder;
  font-size: 25px;
  font-weight: 300;
  color: grey;
  fill: grey;
}

#artist-name {
  padding: 5px;
  margin: .5rem 0 0 .75rem;
  "

}
/**
*
*     — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
*     — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
*     — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
**/






/**
 *
 *    — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
 *       Responsive • Responsive • Responsive • Responsive • Responsive 
 *    — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
 *
 *
 *
 *     — — — — — — — — — — — — — — — — — — — — — — —
 *       Mobile, SMALL Screens / Zoomed in Displays
 *     — — — — — — — — — — — — — — — — — — — — — — — 
 **/
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .albumButtons {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    /* Adjust the gap between buttons as needed */
    padding: 5px;
    /* Optional: Padding for the container itself */
  }
  .albumButtons .button {
  padding: 8px 5px;
  /* Adjust the padding inside the button as needed */
  white-space: nowrap;
  /* Prevent text from wrapping */
  flex-shrink: 0;
  /* Prevent the button from shrinking */
  font-size: 1.0rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0.75;
  text-align: center;
  /**font-family: "Montserrat", sans-serif;**/
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  gap: 1.35rem;
  color: #c4d2dc;
  background-color: #19242b;
  width: 125px;
  
  text-overflow: ellipsis;
  overflow: hidden;
  
  
  /*** ADDED ***/
  
  margin-top: .75rem;
  margin-bottom: .75rem;
}

  .control .btn {
    /** The actual Buttons **/
    font-size: 0.50rem;
    border-radius: 50%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    transition: color 0.75s ease, width 0.75s ease-out;
    position: relative;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-border);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, var(--shadow-alpha));
    outline: 1px solid var(--color-border);
    outline-offset: 2px;
    color: var(--text-color);
  }
  .control .btn-toggle-play {
    /** Play Pause Toggle **/
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--active-button-text);
    opacity: 0.8;
  }
  
  .mainalbumcover {
    width: 200px;
    height: 200px;
  }

 /** 
  #all-artists-container .photo {
    width: 50px;
    height: 50px;
  }
  
  #all-artists-container .photo img {
    width: 50px;
    height: 50px;
  }

  #all-artists-container .photo h4 {
    font-size: 12px;
  }
  **/
  
  
  
.smallPortrait {
	 width: 50px !important;
  height: 50px !important;
  
}

 }
 
 
  /**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *                   Mobile
 *     — — — — — — — — — — — — — — — — — — —
 **/
  @media only screen and (max-width: 599px) {
    .player {
      position: static;
      width: 80%;
      margin: auto;
    }

    .gallery {
      width: 100vw;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
    }

    .photo {
      flex: 1 1 calc(50% - 10px);
      text-align: center;
      margin-bottom: 15px;
      /* Adjust spacing between rows */
      overflow: hidden;
      transition: transform 0.6s ease;
    }

    .photo img {
      border-radius: 50%;
      /* Make the image circular */
       border: 2px SOLID var(--theme--t_text-primary);
      object-fit: cover;
    }

    .photo h4 {
      margin-top: 8px;
      /* Adjust spacing between photo and name */
    }

    /*.song .title {
      font-size: px;
      
    }*/

    .song .author {
      font-size: 10px;
    }

    .desktopplayer {
      display: none;
    }
  }

  /**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *                   Tablet
 *     — — — — — — — — — — — — — — — — — — —
 **/
  @media only screen and (min-width: 600px) and (max-width: 1024px) {
    .player {
      width: 90%;
      margin: auto;
    }

    .mainalbumcover {
      width: 250px;
      height: 250px;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
    }

    .song .title {
      font-size: 16px;
    }

    .song .author {
      font-size: 12px;
    }

    .cd {
      margin: auto;
      width: 200px;
    }

    .mycontainer {
      position: relative;
    }

/*    .songsArea {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 95%;
       Adjust as needed 
      align-items: center;
      margin-left: 1rem;
    }**/
  }

  /**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *                   Desktop
 *     — — — — — — — — — — — — — — — — — — —
 **/
  @media only screen and (min-width: 800px) {
    .player {
      width: 95%;
      margin: auto;
    }

    .mainalbumcover {
      width: 300px;
      height: 300px;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }

    .song .title {
      font-size: 18px;
    }

    .song .author {
      font-size: 14px;
    }

    .cd {
      margin: auto;
      width: 200px;
    }

    .mycontainer {
      position: relative;
    }
}







/*    .songsArea {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 95%;
     
      align-items: center;
      margin-left: 1rem;
    }
    
  .contentDesktop {
    flex-direction: column;
    align-items: flex-start;
  }

  .desktopStyles {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .mainalbumcover {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  .songsArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    width: 50px; 
    flex-grow: 1;
  }

  .gallery {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}
  }*/
  
  
  
  /* styles.css */


/* styles.css */

.artist-info {
    transition: filter 1s ease, opacity 1s ease;
    opacity: 1;
    filter: blur(0);
}

.blurring-out {
    opacity: 0;
    filter: blur(10px);
}

.blurring-in {
    opacity: 1;
    filter: blur(0);
}


.menu-container {
  position: absolute;
  top: 50px; /* Adjust based on your layout */
  right: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.menu-container.show {
  display: block;
  opacity: 1;
};
}
