/********** Copyright © 2024 ************/
/********** William Cole Hanson *********/
/***** FREE for Personal or Business use ******/
/**********************************************************/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root {
   --primary-color: #697290;
   /* Semi-Dark Grey */
   --active-button-text: #7c72df;
   /* Light Blue-Violet */
   --active-button-text-other: #af7dfd;
   /* Light Violet */
   --active-button-text-pink: #e780f0;
   /* Light Pink */
   --text-color: #333;
   /* Dark Dark Grey */
   --secondary-color: #a0a0a0;
   /* Dark Grey */
   --color-text-primary: rgb(105, 105, 105);
   /* Darker Grey */
   --color-text-secondary: rgb(0, 0, 0);
   /* Black */
   --color-background-primary: rgb(242, 247, 249);
   /* Pearl White */
   --color-background-secondary: rgb(255, 255, 255);
   /* White */
   --color-border: #d2d2d2;
   /* Light Grey */
   --color-accent: rgb(147, 51, 234);
   /* Violet */
   --shadow-alpha: 0.025;
   --spinner: var(--color-accent);
   --button-fill-play: #a6acbe;
   --button-textoutline: #40425a;
   /* Dark Grey Blue Hue */
   --current-song: #cad2ec;
   /* Light Grey Blue Hue */
}

/**
*
*     — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
*      Universal Styles • Universal Styles • Universal Styles • Universal 
*     — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
**/

@keyframes float {
   0% {
      opacity: 1;
      transform: translateY(0);
   }
   100% {
      opacity: 0;
      transform: translateY(-100px);
   }
}

.logo-container {
   position: relative;
   overflow: visible;
   width: 175px;
   height: 40px;
}

.logo {
   font-size: 30px;
   font-weight: bold;
   background: linear-gradient(to right, #0000ff, #00ffff);
   -webkit-background-clip: text;
   color: transparent;
   position: relative;
   z-index: 1;
}

.music-note {
   position: absolute;
   font-size: 32px;
   animation: float 5s infinite;
   color: #146ef5;
}

@keyframes float {
   0% {
      opacity: 1;
      transform: translateY(0);
   }
   100% {
      opacity: 0;
      transform: translateY(-100px);
   }
}

.music-note:nth-child(1) {
   left: 10%;
   animation-duration: 3s;
}

.music-note:nth-child(2) {
   left: 30%;
   animation-duration: 4s;
}

.music-note:nth-child(3) {
   left: 50%;
   animation-duration: 2.5s;
}

.music-note:nth-child(4) {
   left: 70%;
   animation-duration: 3.5s;
}

.music-note:nth-child(5) {
   left: 90%;
   animation-duration: 3s;
}








.song.active .body {
   background-color: #c5c5c5ca;
}

.song.active {
   /**    display: inline-block; Ensures the element can be animated properly */
   animation: subtleBounce 4s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Keyframes for subtle bounce animation */
@keyframes subtleBounce {
   0%,
   100% {
      transform: translateY(0); /* Starting and ending at the original position */
   }
   25% {
      transform: translateY(-3px); /* Small upward movement */
   }
   50% {
      transform: translateY(-1px); /* Slight downward movement */
   }
   75% {
      transform: translateY(-4px); /* Slightly larger upward movement */
   }
}

/* Randomness in animation timing to vary bounce between elements */
.song.active:nth-child(2n) {
   animation-delay: -0.2s; /* Delays the start of the animation */
}

.song.active:nth-child(3n) {
   animation-duration: 4.2s; /* Slightly changes the duration */
}

.song.active:nth-child(4n) {
   animation-duration: 3.8s; /* Slightly changes the duration */
   animation-delay: -0.3s; /* Delays the start of the animation */
}

.albumButtons {
   scrollbar-width: none;
}

.albumButtons::-webkit-scrollbar {
   display: none;
}

.player {
   position: relative;
}

.mainalbumcover {
   justify-content: center;
   /* Centers the child div horizontally */
   align-items: center;
   /* Centers the child div vertically */
   /*  height: 100%;  Full viewport height to center vertically */
   width: 100vw;
   margin: auto;
   border: 2px SOLID var(--theme--t_text-primary);
}

.albumButtons {
   display: flex;
   overflow-x: auto;
   gap: 10px;
   /* Adjust the gap between buttons as needed */
   padding: 10px;
   /* Optional: Padding for the container itself */
}

.albumButtons .button {
   padding: 8px 5px;
   /* Adjust the padding inside the button as needed */
   white-space: nowrap;
   /* Prevent text from wrapping */
   flex-shrink: 0;
   /* Prevent the button from shrinking */
   font-size: 1.075rem;
   line-height: 1.25rem;
   font-weight: 500;
   letter-spacing: 0.75;
   text-align: center;
   /**font-family: "Montserrat", sans-serif;**/
   vertical-align: middle;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   border-radius: 0.75rem;
   border: 1px solid rgba(255, 255, 255, 0.25);
   gap: 1.35rem;
   color: #c4d2dc;
   background-color: #19242b;
   width: 175px;

   text-overflow: ellipsis;
   overflow: hidden;

   /*** ADDED ***/

   margin-top: 0.75rem;
   margin-bottom: 0.75rem;
}

.albumButtons .button.active {
   border: 2px solid var(--active-button-text);
   color: var(--active-button-text);
}

.albumButtons .button:hover {
   border: 2px solid var(--active-button-text);
   color: var(--active-button-text);
}

.player .icon-pause {
   display: none;
}

.player.playing .icon-pause {
   display: inline-block;
}

.player.playing .icon-play {
   display: none;
}

.player .icon-skip-back {
   display: inline-block;
}

.player .icon-skip-forward {
   display: inline-block;
}

/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *             Audio Player Controls
 *     — — — — — — — — — — — — — — — — — — —
 **/
.dashboard {
   margin-left: 0.5rem;
   position: static;
   /**  padding: 10px; **/
   /** margin-top: 15px; **/
   width: 100vw;
   align-self: center;
}

.player .icon-pause {
   display: none;
}

.player.playing .icon-pause {
   display: inline-block;
}

.player.playing .icon-play {
   display: none;
}

.player .icon-skip-back {
   display: inline-block;
}

.player .icon-skip-forward {
   display: inline-block;
}

.control {
   /** Play, Pause, Skip, ETC. **/
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 18px 0 8px 0;
}

.control .bttn {
   /** The actual Buttons **/
   font-size: 25px;
   border-radius: 50%;
   padding: 2px;
   display: grid;
   grid-template-columns: 1fr;
   place-items: center;
   cursor: pointer;
   width: 40px;
   height: 40px;
   transition: color 0.75s ease, width 0.75s ease-out;
   position: relative;
   background-color: var(--color-background-secondary);
   border: 1px solid var(--color-border);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, var(--shadow-alpha));
 /**  outline: 2px solid var(--color-border);
   outline-offset: 3px;**/
   color: var(--text-color);
}

.control .bttn.active {
   color: var(--text-color);
   background-color: var(--active-button-text);
}

.control .bttn-toggle-play {
   /** Play Pause Toggle **/
   width: 50px;
   height: 50px;
   border-radius: 50%;
   font-size: 35px;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--active-button-text);
}

audio {
   width: 100vw;
}

/** Time Remaining **/
/** UnComment & add to HTML for traditional Slider Appearance **/
.progressContainer {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background-color: #818181;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 8px;
  z-index: 500;
}


/** Time Elapsed **/
.progress {
   position: relative;
   width: 100%;
   -webkit-appearance: none;
   height: 4px;
   background-color: #5b5b5b;
   outline: none;
   opacity: 0.3;
   -webkit-transition: 0.2s;
   transition: opacity 0.2s;
   border-radius: 8px;
   z-index: 500;
}

.progress {
  position: relative;
  width: 115%;
  height: 2px;
  background-color: rgb(233,120,140);
  outline: none;
  opacity: 0.85;
  border-radius: 20px;
}
.progress:hover {
  opacity: 1;
  height: 4px;
}

.progress::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 8px;
   height: 8px;
   background-color: #dc4c64;
   cursor: pointer;
   border-radius: 50%;
   outline: none;
   z-index: 499;
}

.progress:hover::-webkit-slider-thumb,
.progress:hover::moz-slider-thumb,
.musicCard:hover::-webkit-slider-thumb,
.musicCard:hover::moz-slider-thumb {
  width: 12px;
  height: 12px;
  outline: 2px SOLID #b03d50;
  z-index: 500;
  cursor: pointer;
}


/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *          "Now Playing:" SongNameHere
 *     — — — — — — — — — — — — — — — — — — —
 **/
.musicheader {
   text-align: center;
   margin-bottom: 10px;
}

.musicheader h4 {
   color: var(--primary-color);
   font-size: 12px;
}

.musicheader h2 {
   font-size: 20px;
}

/**
 *
 *     — — — — — — — — — — — — — — — — — — — — —
 *      OPTIONAL — Spinning CD during playback
 *     — — — — — — — — — — — — — — — — — — — — —
 **/
.cd {
   display: none;
   margin: auto;
   width: 200px;
}

.cd-thumb {
   /** Small album covers in the song list **/
   width: 100%;
   padding-top: 100%;
   border-radius: 50%;
   background-color: #333;
   background-size: cover;
   margin: auto;
}

/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *             Song List   Song Items
 *     — — — — — — — — — — — — — — — — — — —
 **
#song-list {
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.songInner.body {
   display: flex;
   align-items: left;
   justify-content: space-between;
   width: auto;
moz-width: auto;
webkit-width: auto;
   margin: auto;
   padding: 5px 0px 5px 10px;
   border-radius: 15px;
   position: relative;
}
.song {
	background-color: transparent !important;
}

.song.active .songInner.body {
   filter: drop-shadow(0px 0px 10px var(--active-button-text));
   border: 2px solid var(--active-button-text);
   color: var(--active-button-text);
}

.song:active {
   opacity: 0.8;
}

.song.active .optio0n {
   opacity: 1;
   filter: drop-shadow(0px 0px 10px var(--button-textoutline));
   align-content: center;
   align-items: center;
   justify-content: center;
}

.song.active .opti0n a {
   text-decoration: none;
}

.song.active .option div,
.song .option div {
   display: inline-block;
}

.song.active .opti0n,
.song.active .author,
.song.active .title {
   color: var(--active-button-text);
}
.song .option #downloadSong,
.song .option #appendSongToQueue {
   opacity: 1;
   transition: opacity 0.3s ease;
}
**/
/**

.song:hover .option #downloadSong,
.song:hover .option #appendSongToQueue {
    opacity: 1 !important;
    border-radius: 50%;
    border: 1.5px solid #4F4F4F;
    background-color: #3f51b5; 
    color: whitesmoke;
    font-size: 1.25rem;
}

.song:hover .option #appendSongToQueue {
    background-color: #009688; 
}
**/
.song .me {
   margin: 0 8px;
   color: #050505;
   font-size: 12px;
   letter-spacing: 0.5px;
}

.song .thumb {
   margin: 0 8px;
   color: #050505;
   font-size: 12px;
   letter-spacing: 0.5px;
}

.song .body {
   display: flex;
   flex: 1;
   align-items: center;
   padding: 2px;
}

.song .title {
   font-size: 18px;
   color: var(--text-color);
   padding-top: 5px;
   /**
   padding-left: 2rem;
   padding-right: 2rem;
   **/
}

.song .author {
   font-size: 12px;
   color: #999;
}
/**
.option {
  opacity: 0;
  padding: 2px;
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 3rem;
  margin-right: 1rem;
  color: var(--active-button-text);
  font-family: WF Sans-Serif;

}**/

/*.songsArea {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  width: 95%;
  align-items: center;
  margin-left: 1rem;
}*/

/**
*
*     — — — — — — — — — — — — — — — — — — —
*              Favourites Feature
*     — — — — — — — — — — — — — — — — — — —
**/
.heart {
   opacity: 0.2;
   cursor: pointer;
   font-style: bolder;
   font-size: 25px;
   font-weight: 300;
   color: grey;
   fill: grey;
   transition: opacity 0.45s ease-in;
}

.heart:hover {
   opacity: 1;
   transform: scale(1.05);
   transition: opacity 0.35s ease-in;
}

.hearted {
   opacity: 1;
   font-style: bolder;
   font-size: 25px;
   font-weight: 800;
   fill: red;
   color: crimson;
   transition: opacity 0.85s ease-in, opacity 0.85s ease-out;
}

.downloadme {
   cursor: pointer;
   font-style: bolder;
   font-size: 25px;
   font-weight: 300;
   color: grey;
   fill: grey;
}

#artist-name {
   padding: 5px;
   margin: 0.5rem 0 0 0.75rem;
}
/**
*
*     — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
*     — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
*     — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
**/

/**
 *
 *    — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
 *     Responsive • Responsive • Responsive • Responsive • Responsive 
 *    — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — — —
 *
 *
 *
 *     — — — — — — — — — — — — — — — — — — — — — — —
 *       Mobile, SMALL Screens / Zoomed in Displays
 *     — — — — — — — — — — — — — — — — — — — — — — — 
 **/
@media only screen and (min-width: 300px) and (max-width: 400px) {

   /** 
  #all-artists-container .photo {
    width: 50px;
    height: 50px;
  }
  
  #all-artists-container .photo img {
    width: 50px;
    height: 50px;
  }

  #all-artists-container .photo h4 {
    font-size: 12px;
  }
  **/

   .smallPortrait {
      width: 50px !important;
      height: 50px !important;
   }
}

/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *                   Mobile
 *     — — — — — — — — — — — — — — — — — — —
 **/
@media only screen and (max-width: 599px) {
   .player {
      position: static;
      width: 80%;
      margin: auto;
   }

   .gallery {
      width: 100vw;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
   }

   .circlePhoto {
      flex: 1 1 calc(50% - 10px);
      text-align: center;
      margin-bottom: 15px;
      /* Adjust spacing between rows */
      overflow: hidden;
      transition: transform 0.6s ease;
   }

   .circlePhoto img {
      border-radius: 50%;
      /* Make the image circular */
      border: 2px SOLID var(--theme--t_text-primary);
      object-fit: cover;
   }

   .circlePhoto h4 {
      margin-top: 8px;
      /* Adjust spacing between photo and name */
   }

   /*.song .title {
      font-size: px;
      
    }*/

   .song .author {
      font-size: 10px;
   }

   .desktopplayer {
      display: none;
   }
}

/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *                   Tablet
 *     — — — — — — — — — — — — — — — — — — —
 **/
@media only screen and (min-width: 600px) and (max-width: 1024px) {
   .player {
      width: 90%;
      margin: auto;
   }

   .mainalbumcover {
      width: 250px;
      height: 250px;
   }

   .gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
   }

   .song .title {
      font-size: 16px;
   }

   .song .author {
      font-size: 12px;
   }

   .cd {
      margin: auto;
      width: 200px;
   }

   .mycontainer {
      position: relative;
   }

   /*    .songsArea {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 95%;

      align-items: center;
      margin-left: 1rem;
    }*/
}

/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *                   Desktop
 *     — — — — — — — — — — — — — — — — — — —
 **/
@media only screen and (min-width: 800px) {
   .player {
      width: 95%;
      margin: auto;
   }

   .mainalbumcover {
      width: 300px;
      height: 300px;
   }

   .gallery {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
   }

   .song .title {
      font-size: 18px;
   }

   .song .author {
      font-size: 14px;
   }

   .cd {
      margin: auto;
      width: 200px;
   }

   .mycontainer {
      position: relative;
   }
}

/*    .songsArea {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 95%;
     
      align-items: center;
      margin-left: 1rem;
    }
    
  .contentDesktop {
    flex-direction: column;
    align-items: flex-start;
  }

  .desktopStyles {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .mainalbumcover {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  .songsArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    width: 50px; 
    flex-grow: 1;
  }

  .gallery {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}
  }*/

/* styles.css */

/* styles.css */

.artist-info {
   transition: filter 1s ease, opacity 1s ease;
   opacity: 1;
   filter: blur(0);
}

.blurring-out {
   opacity: 0;
   filter: blur(10px);
}

.blurring-in {
   opacity: 1;
   filter: blur(0);
}

.menu-container {
   position: absolute;
   top: 50px; /* Adjust based on your layout */
   right: 0;
   display: none;
   opacity: 0;
   transition: opacity 0.3s ease;
   z-index: 10;
}

.menu-container.show {
   display: block;
   opacity: 1;
}

/**
.floatControl {
   
 }
 
 .CURRENTsongAlbumCover {
   
 }
 
 .pullUpMenu {
   
 }
**/

/**
    *
    *     — — — — — — — — — — — — — — — — — — —
    *        For Fading & Blurring Animations
    *     — — — — — — — — — — — — — — — — — — —
    **/
.song {
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}

.song.visible {
   opacity: 1;
}

button.active {
   border: 2px SOLID LAVENDER;
   /* Example active style */
}

.blur-out {
   filter: blur(10px);
   transition: filter 0.5s ease-in-out;
}

.blur-in {
   filter: blur(0);
   transition: filter 0.5s ease-in-out;
}
/**
    *
    *     — — — — — — — — — — — — — — — — — — —
    *         Toasts Container + Toast Items
    *     — — — — — — — — — — — — — — — — — — —
    **/
.toastGlobal {
   /* Applies to ALL Toasts */
   filter: drop-shadow(0px 0px 10px var(--primary-color));
  backdrop-filter: blur(25px) saturate(200%);
-webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(50,53,139,0.729);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
   padding: 5px 8px 5px 5px;
   line-height: 1.2;
   font-size: .75rem;
   opacity: 1;
}

.toastGlobal:hover {
   border-radius: 8px;
   border: 2px SOLID whitesmoke;
   transform: scale(1.05);
   transition: border 1.5s ease, border-radius .85s ease;
}
.toastGlobal .addedToFavs {
	color: whitesmoke;
	
}
.toastGlobal.addedToQueue {

   color: #ffffff;

   background-color: #72c894;
}



#toastContainer {
   /* Container for Toasts */
   height: 50vh;
   position: fixed;
   bottom: 0;
   right: 0;
   margin-bottom: 1rem;
}

#toastContainer:nth-child(n) {
   /* Children of the Container (Toasts) */
   margin: 1rem;
}

.toastTitle {
   font-size: 20px;
   font-weight: 800;
}

.toastInfo {
   font-size: 12px;
}

.toastInfo b {
   font-style: bolder;
}

.toastInfo .btn {
   font-size: 15px;
   width: auto;
   height: auto;
   padding: 5px 8px 5px 8px;
}

button .btn-close {
   color: #dc4c64;
}

button .btn-close:hover {
   color: #e91e63;
   border-radius: 50%;
   background-color: #d9dbe0;
}

#toastsQueue {
   font-size: 0.65rem !important;
   font-style: regular;
   font-weight: 300;
   letter-spacing: 0.75;
   border: 1.5px SOLID #404247;
   border-radius: 8px 14px 14px 8px;
   opacity: 0.5;
   transition: 1.35s ease-in-out;
}

#toastsQueue:hover {
   opacity: 1;
   transition: 1.35s ease-in-out;
}

.song:hover .option {
   opacity: 1;
   transition: 0.85s ease;
}

.scrollingButtons {
   background-color: transparent;
   display: inline-block;
   position: relative;
   white-space: nowrap;
   justify-content: center;
   width: 95%;
   height: 5.5rem;
   margin-left: 0.25rem;
   margin-top: 0.5rem;
   overflow-x: scroll;
}

.svg {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: -1;
   transform: translate(-50%, -50%);
   transition: 0.5s;
}

button.btnAlbums {
   background-color: var(--theme--t_text-primary);
   z-index: 10;
   color: #bbbbbb;
   /**  padding: 0.5rem 2rem**/
   font-size: 0.85rem;
   /** font-weight: bold;**/
   border-radius: 12px;
   transition: 0.5s;
   cursor: pointer;
   border: 2px solid #89898988;
   margin: 1rem 0.25rem 1rem 0.5rem;
   width: 135px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

button.btnAlbums:hover,
button.btnAlbums.active {
   border: 2px solid rgb(66, 125, 194);
   background-color: #212121;
   outline: none !important;
}

.btn-container:hover > .svg-1 {
   transform: translate(130%, 50%);
}

.btn-container:hover > .svg-2 {
   transform: translate(-120%, -150%) rotate(30deg);
}

.btn-container:hover > .svg-3 {
   transform: translate(60%, -150%) rotate(-45deg);
}

.btn-container:hover > .svg-4 {
   transform: translate(-280%, 0%) rotate(30deg);
}

.btn-container:hover > .svg-5 {
   transform: translate(-80%, 60%) rotate(-45deg);
}

button.btnAlbums:active {
   /**transform: scale(1.05);**/
   box-shadow: rgba(66, 125, 194, 0.8) 0px 0px 25px;
}

button.btnAlbums.active {
   /**transform: scale(1.05);**/
   box-shadow: rgba(66, 125, 194, 0.8) 0px 0px 25px;
}

/**
    .contentALL {
        transition: filter 0.5s ease;
    }
    
    .addBlur {
        filter: blur(10px);
    }
    
    .removeBlur {
        filter: blur(0);
    }**/
/**
.addBlur {
   filter: blur(35px);
   transition: filter 0.5s ease-in-out;
}

.removeBlur {
   filter: blur(0px);
   transition: filter 0.5s ease-in-out;
}
**/
/* Add these styles for sliding transition */
/* CSS remains mostly the same */

.artists-container {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.artists-container .circlePhoto {
   flex: 1 1 calc(33.333% - 10px);
   box-sizing: border-box;
}



/*
    .addBlur #artistNameHeader {
        filter: blur(15px);
        transition: filter 0.85s ease-in-out;
    }
    */

#queueArea,
.queueArea {
   position: relative;
 
   height: 300px;
   background-color: transparent;
   border-radius: 15px;

   padding: 10px;
   overflow-y: scroll;
   -moz-overflow-y: scroll;
}

#queueArea .queueItem,
.queueArea .queueItem {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px 15px;
   font-size: 14px;
   border: none;
   border-bottom: 1px solid #ddd;
}

#queueArea .queueItem:last-child {
   border-bottom: none;
}

#queueArea .queueItem:hover,
.queueArea .queueItem:hover {
   background-color: #bdbdbd;
}
#queueArea .queueItem:active,
.queueArea .queueItem:active {
   background-color: #9e9e9e;
}

.queueArea.visible {
   display: block;
}

.queueItem {
   margin-bottom: 10px;
   color: black;
}

.addQueue {
   background-color: transparent;
   font-size: 25px;
   font-weight: bolder;

   border-radius: 50%;
   align-items: center;
}

.in-queue {
   background-color: #ff6347;
}

.addQueue:hover {
   background-color: #ff6347;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes fadeOut {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
   }
}

.bottomMenuContainer {
  
   width: 90%;
   height: auto;
   align-content: center;
   background: none;
   margin: .5rem 26px 2rem 26px;
}

.bottomMenuTabs {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   border-radius: 0.5rem;
   background-color: #eee;
   box-sizing: border-box;
   box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
   padding: 0.25rem;
   width: 100%;
   font-size: 14px;
 
}

.bottomMenuTabs .menuTab {
   flex: 1 1 auto;
   text-align: center;
}

.bottomMenuTabs .menuTab .name {
   display: flex;
   cursor: pointer;
   align-items: center;
   justify-content: center;
   border-radius: 0.5rem;
   border: 2px SOLID transparent;
   padding: 0.5rem 0;
   color: rgba(51, 65, 85, 1);
   transition: all 0.95s ease-in-out;
}

.bottomMenuTabs .menuTab.selected .name {
   background-color: #fff;
   font-weight: 600;
   border: 2px SOLID #4f4f4f;
   transition: border 1.5s ease-in-out;
}

#trackTitle {
   font-size: 1.15rem;
   color: #000000;
   font-weight: 800;
   letter-spacing: -1.35;
   margin-left: -2rem;
}

.song.active #trackTitle {
   color: #3f51b5;
   font-weight: 700;
   font-style: bolder;
}

/* Add this CSS for fade-in animation */
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.song-added-animation {
   animation: fadeIn 0.5s ease-in-out;
}

/* Style the newly added song */
.newly-added {
   background-color: #d1e7dd;
}

/**.song {
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}**/

.add-to-queue {
   padding: 3px;
   border-radius: 50%;
   background-color: #007bff;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25px;
   cursor: pointer;
}

.add-to-queue:hover {
   background-color: #0056b3;
}

.songInner {
   background-color: transparent;
   display: flex;
   
}
/**
.body {
   display: flex;
   border-radius: 15px;
   background-color: #EDEDED;
   border: 1px solid rgba(183,183,183,1);
   align-items: left;
   width: 100%;
   position: relative;
}
**/
.songInfo {
   margin: 0 10px;
}

.songInfo.duration {
   color: #9fa6b2;
}
.songInfo.duration.active {
   font-style: bold;
}

.icons .download-icon {
   margin-right: 0.85rem;
   margin-left: 0.25rem;
}

.song:hover .icons {
   right: 55;
   transition: 0.75s ease;
   opacity: 0.9;
}

.song.active .icons {
   right: 0;
   transition: 1.75s ease;
   opacity: 0.9;
}

.icons {
   display: flex;
   position: absolute;
   right: -300px;
   transition: opacity 0.2s, right 3.2s;
   opacity: 0;
   transform: scale(1);
   padding: 10px;
}

.icons.hidden {
   display: none;
}

#songMenu {
   padding: 3px;
   border-radius: 50%;
   background-color: #007bff;
   border: 1px dotted #404247;
   color: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25px;
   cursor: pointer;
}

#downloadSong {
   padding: 3px;
   border-radius: 50%;
   border: 1px dotted #404247;
   background-color: #14a44d;
   color: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25px;
   cursor: pointer;
}


.moreMenu {
	overflow: visible;
}


#initialLoadSpinner {
	position: fixed;
     z-index: 5;
margin: auto;
border: 5px solid crimson;
}

.dot-spinner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  --uib-speed: 0.9s;
  height: 2.8rem;
  width: 2.8rem;
  /*animation: float 3s linear infinite;*/
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: rotate(0deg) translate(100px) rotate(0deg);
            transform: rotate(0deg) translate(100px) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(100px) rotate(-360deg);
            transform: rotate(360deg) translate(100px) rotate(-360deg);
  }
}

@keyframes float {
  0% {
    -webkit-transform: rotate(0deg) translate(100px) rotate(0deg);
            transform: rotate(0deg) translate(100px) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(100px) rotate(-360deg);
            transform: rotate(360deg) translate(100px) rotate(-360deg);
  }
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-filter: drop-shadow(0 0 10px rgb(95, 150, 202));
          filter: drop-shadow(0 0 10px rgb(95, 150, 202));
  -webkit-box-shadow: -6px -6px 11px #c1c1c1,
             6px 6px 11px #ffffff;
          box-shadow: -6px -6px 11px #c1c1c1,
             6px 6px 11px #ffffff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0.5;
  -webkit-animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
          animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  -webkit-box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
          box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.875);
          animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.75);
          animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.625);
          animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.5);
          animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.375);
          animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.25);
          animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.125);
          animation-delay: calc(var(--uib-speed) * -0.125);
}

@-webkit-keyframes pulse0112 {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse0112 {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
