   /**
 *
 *     - - - - - - - - - - - - - - - - - - -
 *         Creator Modal - Input Fields 
 *     - - - - - - - - - - - - - - - - - - -
 **/
 #creatorModal .insideModal,
 #playlistEditModal .insideModal {
  width: 80vw;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
 }

 @keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
  50% {
   background-position: 100% 50%;
  }
  100% {
   background-position: 0% 50%;
  }
 }

 #creatorModal button:active,
 #playlistEditModal button:active {
  scale: 0.95;
 }

 /* Form Structure */
 #creatorModal .form,
 #playlistEditModal .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
 }

 #creatorModal .form-group,
 #playlistEditModal .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
 }

 /* Labels */
 #creatorModal .form-group label,
 #playlistEditModal .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
 }

 /* Inputs */
 #creatorModal .form-group input,
 #playlistEditModal .form-group input,
 .input {
  width: 95%;
  margin: auto;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
 }

 /* Textarea */
 #creatorModal .form-group textarea,
 #playlistEditModal .form-group textarea,
 .textarea {
  width: 95%;
  margin: auto;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
 }

 /* Placeholder Styling */
 #creatorModal .form-group input::placeholder,
 #playlistEditModal .form-group input::placeholder,
 .input::placeholder {
  opacity: 0.75;
 }

 /* Input Focus */
 #creatorModal .form-group input:focus,
 #playlistEditModal .form-group input:focus,
 .input:focus {
  outline: none;
  border-color: #1b9bee;
  transition: all 0.65s ease;
 }

 #creatorModal .form-group textarea:focus,
 #playlistEditModal .form-group textarea:focus,
 .textarea:focus {
  outline: none;
  border-color: #1b9bee;
  transition: all 0.65s ease;
 }

 /* Submit Button */
 #creatorModal .form-submit-btn,
 #playlistEditModal .form-submit-btn,
 .submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: auto;
  background: #313131;
  border: 1px solid #414141;
  padding: 6px 12px;
  font-size: 10px;
  gap: 8px;
  margin-top: 8px;
  margin: auto;
  cursor: pointer;
  border-radius: 6px;
 }

 #creatorModal .form-submit-btn:hover,
 #playlistEditModal .form-submit-btn:hover,
 .submit-btn:hover {
  border: 1px dashed #1b9bee;
  border-color: #efefef;
  color: white;
  transition: all 0.65s ease;
  background: #283542;
 }
 .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
 }
 .modal.visible {
  visibility: visible;
  opacity: 1;
 }

 /**
*
*     - - - - - - - - - - - - - - - - - - -
*          Creator Modal - Image Upload
*     - - - - - - - - - - - - - - - - - - -
**/
 #creatorModal .drop-container,
 #playlistEditModal .drop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #a4a4a4;
  border-radius: 12px;
  padding: 0px;
  background: #fff;
  transition: 0.65s ease-in-out;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 40%;
  height: 15%;
  margin: auto;
 }

 #creatorModal .drop-container:hover,
 #playlistEditModal .drop-container:hover {
  border-color: #42a5f5;
  background: #e3f2fd;
  box-shadow: 0px 4px 30px rgba(66, 165, 245, 0.2);
  opacity: 1;
 }

 #creatorModal .drop-container.dragover,
 #playlistEditModal .drop-container.dragover {
  border-color: #26c6da;
  background: #e0f7fa;
  animation: bounce 0.6s ease-in-out infinite;
 }

 #creatorModal .upload-icon i,
 #playlistEditModal .upload-icon i {
  margin-bottom: 15px;
  transition: transform 0.65s ease-in-out;
  font-size: 30px;
  font-style: bolder;
  font-weight: 700;
 }

 #creatorModal .drop-container.dragover .upload-icon i,
 #playlistEditModal .drop-container.dragover .upload-icon i {
  transform: scale(1.2);
 }

 #creatorModal .drop-title,
 #playlistEditModal .drop-title {
  font-size: 0.95rem;
  font-weight: 800;
  color: #616161;
  margin-top: -10px;
 }

 #creatorModal .or,
 #playlistEditModal .or {
  font-size: 0.55rem;
  color: #9e9e9e;
  margin: 2px 0;
 }

 /* Hide the default file input */
 #creatorModal input[type="file"],
 #playlistEditModal input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
 }

 /* Keyframes for bounce animation */
 @keyframes bounce {
  0%,
  100% {
   transform: translateY(0);
  }
  50% {
   transform: translateY(-5px);
  }
 }

 /**
*
*     - - - - - - - - - - - - - - - - - - -
*             Creator Modal - Tags
*     - - - - - - - - - - - - - - - - - - -
**/
 #tags-input-container {
  overflow-y: hidden;
  overflow-x: scroll;
  display: inline-block;
  background-color: rgb(55, 55, 55);
  margin-bottom: 10px;
  border-radius: 8px;
  min-height: 40px;
  border: 1px solid #414141;
  width: 95%;
  margin: auto;
 }

 /* Individual tag styling */
 .tag {
  background-color: #42a5f5;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
 }

 .tag .remove-tag {
  color: #fff;
  margin-left: 8px;
  font-weight: bold;
  cursor: pointer;
 }

 .tag .remove-tag:hover {
  color: #ff5252;
 }

 /* Input and Add Button */
 .tag-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
 }

 #addTagBtn {
  background-color: #42a5f5;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
 }

 #addTagBtn:hover {
  background-color: #1e88e5;
 }

 #createTags {
  padding: 8px;
  border-radius: 8px;

  font-size: 14px;
  width: 70%;
 }

 /**
*
*     - - - - - - - - - - - - - - - - - - -
*              View All Playlists
*     - - - - - - - - - - - - - - - - - - -
**/
 .playlistGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  background-color: transparent;
 }
 .playlistThumbnail {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
  transition: transform 0.3s ease;
  width: 150px;
  height: 250px;
 }
 .playlistThumbnail img {
  max-width: 80px;
  max-height: 80px;
 }
 .playlistThumbnail:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
 }
 .viewPlaylistsBtn.editplaylist {
  width: auto;
  height: auto;
  padding: 3px 5px;
  background-color: transparent;
  border: 1px solid lightgrey;
  color: #252525;
  transition: all 0.65s ease;
 }
 .viewPlaylistsBtn.editplaylist:hover {
  transform: scale(1.05);
  transition: all 0.65s ease;
 }

 /* Close Button */
 #closeCreatorModal,
 #closeEditModal {
  font-size: 45px;
  font-weight: bold;
  background: transparent;
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  color: #ffffff;
  position: relative;
  margin-top: -30px;

  transform: translate(-40px, -20px);
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s ease;
 }
 #closeCreatorModal:hover,
 #closeEditModal:hover {
  transform: scale(1.5);
 }

 /**
*
*     - - - - - - - - - - - - - - - - - - -
*           Adding Song to a Playlist 
*     - - - - - - - - - - - - - - - - - - -
**/
 
 .popover-playlist-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
 .playlist-options label {
  display: flex;
  align-items: center;
  gap: 10px;
 }
 .radio-button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
 }
 .radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
 }
 .radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
 }
 .radio-button__label {
  display: inline-block;
  padding-left: 35px;
  margin-bottom: 10px;

  position: relative;
  font-size: 15px;
  color: #ededed;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.65s ease;
 }
 .radio-button__custom {
  position: absolute;
  margin-left: 10px;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.65s ease;
 }
 .radi-button__input:checked + .radio-button__label .radio-button__custom {
  background-color: #4c8bf5;
  border-color: #4c8bf5;
  transform: scale(0.8);
  box-shadow: 0 0 20px #4c8bf580;
 }
 .radio-button__input:checked + .radio-button__label {
  color: #4c8bf5;
 }
 .radio-button__label:hover .radio-button__custom {
  transform: scale(1.2);
  border-color: #4c8bf5;
  box-shadow: 0 0 20px #4c8bf580;
 }
 .popover-content {
  border-radius: 8px;
  width: 175px;
  height: 200px;
  z-index: 5;
 }
 .popover-playlist-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
 .popover-playlist-options p {
  background-color: #414141;
  border-bottom: 1px solid #252525;
  font-size: 14px;
  font-weight: 400;
  color: whitesmoke;
  padding: 5px 10px;
 }
 #confirmAddToPlaylist {
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  border: 2px solid #414141;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.65s ease;
 }
 #confirmAddToPlaylist:hover {
  background-color: #3b7de0;
  transition: all 0.65s ease;
 }

 /**
*
*     - - - - - - - - - - - - - - - 
*       Song Menu + DropDown Menu
*     - - - - - - - - - - - - - - -
**
 .moreMenu .dropdown-menu {
  transform: scale(0.8);
  padding: 0.25em 0.5rem;
  background: #eee;
  color: #878787;
  border-radius: 0.975em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  border: 1px solid #ccc;
  font-size: 12px;
  transition: all 0.65s ease;
  z-index: 10000000000000000000000000000;
 }
 .moreMenu .dropdown-menu.show {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
 }
 .dropdown-menu li {
  list-style-type: none;
  padding: 5px 10px;
 }
 .dropdown-menu li:hover,
 .dropdown-menu a:hover,
 .dropdown-menu li:active,
 .dropdown-menu a:active {
  border-radius: 10px;
  background-color: cornflowerblue;
  color: whitesmoke;
  transition: all 0.15s ease;
  position: relative;
  z-index: 100000000000000;
 }
**/
 /**
*
*     - - - - - - - - - - - - - - - - - - -
*               View Playlist Page 
*     - - - - - - - - - - - - - - - - - - -
**/
 .mainPlaylist {
  background-color: white;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
 }
 .loaderPlaylist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  border-radius: 10px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
 }
 .loaderPlaylist:hover {
  cursor: pointer;
  background-color: lightgray;
 }
 .currentplaying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
 }
 .spotify {
  width: 50px;
  height: 50px;
  margin-right: 0.6em;
 }
 .heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  -ms-flex-item-align: center;
  align-self: center;
 }
 .playPlaylist {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  -webkit-clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: black;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: 0.7em;
  justify-self: center;
 }
 .albumcoverPlaylist {
  position: relative;
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 232, 232);
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 5px;
 }
 .songPlaylist {
  position: relative;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  -ms-flex-item-align: center;
  align-self: center;
 }
 .artistPlaylist {
  font-size: 0.6em;
 }
 @-webkit-keyframes move6 {
  0% {
   height: 0.2em;
  }

  25% {
   height: 0.7em;
  }

  50% {
   height: 1.5em;
  }

  100% {
   height: 0.2em;
  }
 }
 @keyframes move6 {
  0% {
   height: 0.2em;
  }

  25% {
   height: 0.7em;
  }

  50% {
   height: 1.5em;
  }

  100% {
   height: 0.2em;
  }
 }
 .detailsPlaylists {
  flex-direction: column;
 }
 .playlistDetailsView {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
 }
 .playlist-header {
  display: flex;
  gap: 20px;
  align-items: flex-start;
 }
 .playlist-thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
 }
 .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
 .details p {
  margin: 0;
  font-size: 14px;
  color: #666;
 }
 .details .heading {
  font-size: 24px;
  font-weight: bold;
 }
 .viewPlaylistsBtn {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #4c8bf5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }
 .viewPlaylistsBtn:hover {
  background-color: #3b7de0;
 }
 .playlist-songs {
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
 .track {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
 }
 .songPlaylist .name {
  font-weight: bold;
 }
 .songPlaylist .artistPlaylist {
  color: #666;
  font-style: italic;
 }
 .removeTrackFromDetails {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
 }
 .removeTrackFromDetails:hover {
  background-color: #c0392b;
 }

 /**
*
*     - - - - - - - - - 
*          T A G S
*     - - - - - - - - -
**/
 .playlistTags {
  /** Container **/
  display: flex;
  gap: 10px; /* Space between tags */
  flex-wrap: nowrap; /* Prevent wrapping to 2nd Line */
  overflow-x: auto; /* Horizontal scrolling */
  padding-bottom: 10px; /* Optional: space between tags and bottom edge */
  width: 150px;
 }
 .playlistTags::-webkit-scrollbar {
  height: 8px; /* Set scrollbar height */
  display: none; /** or Hide the Scrollbar **/
 }
 .playlistTags::-webkit-scrollbar-thumb {
  background-color: #4c8bf5;
  border-radius: 10px;
  display: none; /** Hide **/
 }
 .playlist-tag {
  display: inline-block;
  background-color: whitesmoke;
  color: #252525;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 300;
  font-weight: bolder;
  text-transform: uppercase;
  white-space: nowrap; /* Prevents the text inside tags from wrapping */
 }
 .playlist-tag:hover {
  background-color: #3b7de0;
 }