









@media only screen and (min-width: 650px) and (max-width: 850px) {
  
/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *         A N I M A T I O N  Keyframes
 *     — — — — — — — — — — — — — — — — — — —
 **/
@keyframes subtleBounce {
   0%,
   100% {
      transform: translateY(0);
   }
   25% {
      transform: translateY(-3px);
   }
   50% {
      transform: translateY(-1px);
   }
   75% {
      transform: translateY(-4px);
   }
}
@-webkit-keyframes puff-in-hor {
  0% {
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-hor {
  0% {
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes puff-out-ver {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
}
@keyframes puff-out-ver {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
}
@keyframes marquee {
  0% { transform: translateX(0); } /* Start visible from the left */
  10% { transform: translateX(0); } /* Stay on the left for a bit */
  100% { transform: translateX(-70%); } /* Scroll to the left */
}
 




/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *               Main Content Area
 *     — — — — — — — — — — — — — — — — — — —
 **/
#dynamicArea {
  width: 100vw;
  height: auto;
  min-height: 1000px;
  overflow: visible;
}
.spinner {
  font-size: 30px;
  position: relative;
  display: inline-block;
  width: .5em;
  height: .5em;
}






/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *              Song List Structure
 *     — — — — — — — — — — — — — — — — — — —
 **/
#song-list {
    width: 100vw;
    margin: auto 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}
.body {
   display: flex;
   border-radius: 10px;
   background-color: var(--color-background-secondary);
   border: 1px solid rgba(183,183,183,0.5);
   align-items: left;
   max-width: 85vw;
   position: relative;
}
.songInfo.heart{
  font-size: 18px;
}
.songInfo.title {
  overflow: hidden;
}
.songsMoreMenuBTN {
  font-size: 13px;
}
.songInfo.heart {
  font-size: 15px;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 400;
  transition: all .65s ease;
}
.songInfo.hearted {
  font-size: 18px;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 800;
  transition: all .65s ease;
}
.songInfo.duration {
  position: relative;
  z-index: 999;
  font-size: 8px;
  margin-right: 15px;
  font-weight: thin;
  font-weight: 100;
}
.songInfo.title h7 {
  position: relative;
  z-index: 99;
  font-weight: thin;
  font-weight: 400;
  letter-spacing: 0.85;
  color: #252525 !important;
}
.song {
	background-color: transparent !important;
}
.songInner {
  
}
.songInner.body {
   display: flex;
   overflow: visible;
   align-items: left;
   justify-content: space-between;
   margin: auto;
   padding: 5px 0px 5px 0px;
   background-color: var(--color-background-secondary);
   border-radius: 10px;
   position: relative;
   z-index: 99;
}

.song.active {
   animation: subtleBounce 4s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.song.active .body {
  background-color: var(--swatches--gray-200);
   filter: drop-shadow(0px 0px 2px var(--active-button-text));
   border: 1px solid var(--active-button-text);
   color: var(--active-button-text);
}
.song.active:hover .songsMoreMenuBTN {
  opacity: 1;
}
.song:active {
   opacity: 0.8;
}

.songsMoreMenuBTN {
  opacity: 0.35;
	border-radius: 50%;
	padding: 3px 3px 3px 3px;
	border: 2px solid whitesmoke;
	background-color: #969fff;
	color: whitesmoke;
	transition: all .75s ease;
	 filter: drop-shadow 0px 0px 10px #363636;
	 position: relative;
	 z-index: 1000;
	 margin-left: 5px;
}
.songsMoreMenuBTN i {
	font-size: 15px;
	font-weight: 400;
	font-style: bolder;
   color: whitesmoke;
}
.songsMoreMenuBTN:hover {
	transform: scale(1.05);
	transition: all .75s ease;
}

.addToQueueBtn {
	
}





/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *             For long Song Titles
 *     — — — — — — — — — — — — — — — — — — —
 **/
.marquee {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation-play-state: paused; /* Initially paused */
}
.marquee.scrolling {
  animation: marquee 10s linear infinite;
  animation-play-state: running; /* Only run if scrolling is needed */
}
.marquee-container {
  position: relative; /* Container needs relative positioning */
  width: 100%; /* Adjust as necessary */
  overflow: hidden; /* Hide the text that overflows */
}





/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *                Favorites Toasts
 *     — — — — — — — — — — — — — — — — — — —
 **/
.toastFAVs {
  width: auto;
  min-width: 200px;
  max-width: 300px;
  height: auto;
  max-height: 100px;
  opacity: 1;
  background-color: #333;
  border: .5px solid BEIGE;
  color: TAN;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.85);
  overflow: visible;
  z-index: 1000;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
	-webkit-animation: puff-in-hor 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-hor 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.puff-out-ver {
	-webkit-animation: puff-out-ver 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: puff-out-ver 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
.toastFAVs-banner {
  position: absolute;
  top: -10px;
  left: 80%;
  transform: translateX(-50%);
  background-color: #414141;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 8px;
  white-space: nowrap;
  z-index: 10;
}
.toastFAVs-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.toastFAVs-message {
  font-size: 14px;
  font-weight: 500;
 
}
.toastFAVs-message-smaller {
 font-size: 12px;
 font-weight: 200;

}
.toastFAVs-timestamp {
  font-size: 10px;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.255);
  transition: opacity 0.3s ease;
 
}
.toastFAVs:hover .toastFAVs-timestamp {
  opacity: 1;
}
  
  
  
  
  
/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *               Artists Portraits
 *     — — — — — — — — — — — — — — — — — — —
 **/
.mainalbumcover {
   overflow: hidden;
   align-self: center;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 2px SOLID var(--theme--t_text-primary);
   position: relative;
}
.mainalbumcover::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   box-shadow: inset 0px 10px 43px 25px rgba(0, 0, 0, 0.5);
   pointer-events: none;
   z-index: 1;
}
.mainalbumcover img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   position: relative;
   z-index: 0;
}
.mainalbumcover-con {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}





/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *                 Album Buttons
 *     — — — — — — — — — — — — — — — — — — —
 **/
.albumButtons {
      display: flex;
      overflow-x: auto;
      gap: 10px;
      /* Adjust the gap between buttons as needed */
      padding: 5px;
      /* Optional: Padding for the container itself */
   }
.albumButtons .button {
      padding: 8px 5px;
      /* Adjust the padding inside the button as needed */
      white-space: nowrap;
      /* Prevent text from wrapping */
      flex-shrink: 0;
      /* Prevent the button from shrinking */
      font-size: 0.75rem;
      line-height: .75rem;
      font-weight: 300;
      letter-spacing: 0.75;
      text-align: center;
      /**font-family: "Montserrat", sans-serif;**/
      vertical-align: middle;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 0.75rem;
      border: 1px solid rgba(255, 255, 255, 0.25);
      gap: 1.35rem;
      color: #c4d2dc;
      background-color: #19242b;
      width: 100px;

      text-overflow: ellipsis;
      overflow: hidden;

      /*** ADDED ***/

      margin-top: 0.65rem;
      margin-bottom: 0.65rem;
   }





/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *              Music Player Buttons
 *     — — — — — — — — — — — — — — — — — — —
 **/
.music-card {
  width: 250px;
}
.control {
  margin-top: -60px;
}
.track-title {
  font-size: .85rem;
  font-weight: 400;
  
  overflow: hidden;
}
.track-artist {
  font-size: .65rem;
}
.icon-heart,
.icon-star {
  width: 18px;
  height: 18px;
}
#dashboard {
  width: 100%;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  background-color: transparent;
}
#songControls {
  position: relative;
  transform: translate(0px, -5px);
}
.control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.control {
  margin-top: -40px;
}
#btnRepeat,
#btnBackward,
#btnPlayPause,
#btnForward,
#btnShuffle {
  color: #fff;
  border: 2px solid #eeeeee;
  align-content: center;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  background-color: #4a76a8;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btnPlayPause {
  font-size: 20px;
  background-color: #628dd5;
}
.btnPlay {
  display: block;
}
.btnPause {
  display: none;
}
.control .bttn {
      /** The actual Buttons **/
      font-size: 0.5rem;
      border-radius: 50%;
      padding: 2px;
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      cursor: pointer;
      width: 1.5rem;
      height: auto;
      transition: color 0.75s ease, width 0.75s ease-out;
      position: relative;
      background-color: var(--color-background-secondary);
      border: 1px solid var(--color-border);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, var(--shadow-alpha));
/**      outline: 1px solid var(--color-border);
      outline-offset: 2px;**/
      color: var(--text-color);
   }
.control .bttn-toggle-play {
      /** Play Pause Toggle **/
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 24px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--active-button-text);
      opacity: 0.8;
   }





/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *         Home Page / Newest / Discover
 *     — — — — — — — — — — — — — — — — — — —
 **/
.newest-section {
  margin-bottom: 2rem;
}
.artist-container,
.album-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.artist-albums {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  padding-top: 10px;
}
.album-cover {
  min-width: 115px;
  cursor: pointer;
  overflow: visible;
}
.album-cover img {
  width: 115px;
  height: 115px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #252525;
  transition: all 0.65s ease;
}
.album-cover img:hover {
  transform: scale(1.075);
  transition: all 0.65s ease;
  border: 1px solid #232323;
  border-radius: 12px;
}
.album-cover img:active {
  border: 2px solid #222323;
}
.album-cover h5 {
  text-align: center;
  font-size: 10px;
}
.newest-artist h3 {
  font-size: 15px;
}
.album-cover {
  width: 100px;
}
.album-cover img {
  width: 100px;
  height: 100px;
}





/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *      All Artists / Similar Artists Large
 *     — — — — — — — — — — — — — — — — — — —
 **/
.gallery {
   display: flex;
   flex-wrap: wrap;
   padding: 5px;
   gap: 10px;
   max-width: 100vw;
}
.gallery.blur {
   filter: blur(50px);
   transition: filter 0.6s ease;
}
.photo {
   text-align: center;
   overflow: hidden;
   transition: transform 0.6s ease;
   flex: 1 1 calc(33.33% - 15px);
   box-sizing: border-box;
}
.smallPortrait {
   width: 100px !important;
   height: 100px !important;
}
.photo img {
   border-radius: 50%;
   border: 1.5px SOLID var(--theme--t_text-primary);
   object-fit: cover;
   transition: border 0.65s ease;
}
.photo img:hover {
   border: 1.5px solid var(--active-button-text);
   transition: border 0.65s ease;
}
.photo p {
   margin-top: 5px;
   font-size: 10px;
   font-weight: 300;
   font-style: thin;
   font-family: serif;
   color: #eeeeee;
}
.info1 {
   background-color: transparent;
   position: relative;
   overflow-x: scroll;
   white-space: nowrap;
   justify-content: center;
   width: 95%;
   height: 3.2rem;
   margin-left: 1rem;
}
.photo h4 {
   font-size: 14px;
   font-style: thin;
   font-weight: 200;
   transition: color 0.65s ease;
}
.photo h4:hover {
   color: var(--active-button-text);
   transition: color 0.65s ease;
}
.spacer {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}





/**
 *
 *     — — — — — — — — — — — — — — — — — — —
 *       Music Player Trigger Circle Button
 *     — — — — — — — — — — — — — — — — — — —
 **/
.floaterWrapper .btn {
height: 30px;
width: 30px;
}
.floaterWrapper .btn i {
  font-size: 25px;
}
#floating-btn {
  outline: 2px SOLID #EFEFEF;
}




#sidebar {
  height: 40px;
}







@keyframes fade-in-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#favoritesContainer {
  position: fixed;
  bottom: 100px;
  width: 90vw;
  min-height: 400px;
  margin: auto;
  z-index: 99;
  background-color: #0f0f0f;
  animation: fade-in-up 0.6s ease-out both;
  padding: 30px 0;
  border: 2px SOLID rgba(158,158,158,0.664);
  border-radius: 10px;
  
}

.favoriteSong {
  position: relative;
  display: flex;
  align-items: center;
  background: #1a1a1a;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #333;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
  margin: 20px auto;
  width: 75vw;
  transition: border 0.65s ease, box-shadow 0.3s ease, height 0.45s ease;
  overflow: hidden;
  height: 60px;
}

.favoriteSong:hover {
  border: 1px SOLID #dc4c64;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
}

.albumCoverContainer {
  display: flex;
  
  align-items: center;
  position: relative;
}


.albumCover {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #9E9E9E;
  margin-right: 20px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.songTitle {
  color: #fff;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.songArtist, .songAlbum {
  color: #9e9e9e;
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.1;
}

.songArtist {
  padding-bottom: 8px;
  font-size: 12px;
}
.songAlbum {
  font-size: 10px;
}
.song-duration {
  position: absolute;
  top: 50px;
  left: 10px;
  text-align: center;
  font-size: 8px;
  font-weight: thin;
  font-weight: 100;
  padding-top: 3px;
  color: rgba(255,255,255,0.65);
}

.song-controls {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.infoButtonFAVs {
  color: #ff4081;
  background: none;
  border: none;
  font-size: 24px;
  margin-left: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.infoButtonFAVs:hover {
  transform: scale(1.2);
}

.FAVsRemove {
  color: crimson;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  opacity: .25;
  transition: transform 0.5s ease;
}

.FAVsRemove:hover {
  transform: scale(1.2);
}
.FAVsRemove button {
  border: none;
}


.albumCover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all .65s ease;
}

.favoriteSong:hover .albumCover {
  border-radius: 40%;
  transition: all .65s ease;
}

.songTitle, .songArtist {
  opacity: 1;
}

.songAlbum, .song-duration {
  opacity: 0;
  transition: opacity 0.65s ease;
}

.favoriteSong.expanded .songAlbum, 
.favoriteSong.expanded .song-duration {
  opacity: 1;
  transition: all 0.65s ease;
}

.favoriteSong.expanded {
  height: 90px;
  transition: height .45s ease;
}
.favoriteSong.expanded .FAVsRemove {
  opacity: 1;
}
.favoriteSong.song {
  opacity: 1;
}
#favoritesContainer.minimized {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.65s ease-out, visibility 0.95s ease-out;
}


label#floating-btn {
  width: 40px;
  height: 40px;
  font-size: 28px;
}



}




:ROOT {
  --darkishRed: #A4303F;
  --brightRed: #ED474A;
  --gray001: #BAC1B8;
  --gray002: #8D8D92;
  --bluePurple: #6B7fD7;
  --darkGray: #2B303A;
  --beigeLight: #AD9BAA;
}